.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    z-index: 100;
}